@model Datos.Qualification

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Qualification</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idQualification)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idQualification)
            @Html.ValidationMessageFor(model => model.idQualification)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idSubjectGroup, "SubjectGroup")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idSubjectGroup", String.Empty)
            @Html.ValidationMessageFor(model => model.idSubjectGroup)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idStudent, "Student")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idStudent", String.Empty)
            @Html.ValidationMessageFor(model => model.idStudent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.test)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.test)
            @Html.ValidationMessageFor(model => model.test)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.homeWork)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.homeWork)
            @Html.ValidationMessageFor(model => model.homeWork)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.conduct)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.conduct)
            @Html.ValidationMessageFor(model => model.conduct)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
