@model IEnumerable<Datos.Qualification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idQualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectGroup.idSubjectGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.test)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.homeWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.conduct)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idQualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectGroup.idSubjectGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.test)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.homeWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.conduct)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
