@{
    ViewBag.Title = "Main";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Bryan Aplication</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/bootstrap.css")
    @Styles.Render("~/Content/css/index.css")

</head>
<body>
    <header>
        

         
    </header>
   
    <div id="menuconteiner">
        <ul id="menu">
            <li>@Html.ActionLink("Student","Search","Student")</li>
            <li>@Html.ActionLink("Subject", "Index", "StudentSubject")</li>
            <li>@Html.ActionLink("Result", "Index", "Student")</li>
            <li>@Html.ActionLink("Section", "Index", "Student")</li>
        </ul>
    </div>

    <div id="main">




       



         @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

    </div>
</body>
</html>

