@model Data.Classes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Classes</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_class)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_class)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Teacher.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Teacher.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subject.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
